<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Dodaj lekcję</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<h1>Dodaj nową lekcję</h1>

<form th:action="@{/lesson/add}" th:object="${lesson}" method="post">
  <div>
    <label for="date">Data:</label>
    <input type="date" id="date" th:field="*{date}" required>
  </div>

  <div>
    <label for="startLesson">Godzina rozpoczęcia:</label>
    <input type="time" id="startLesson" th:field="*{startLesson}" required>
  </div>

  <div>
    <label for="endLesson">Godzina zakończenia:</label>
    <input type="time" id="endLesson" th:field="*{endLesson}" >
  </div>

  <div>
    <label for="price">Cena:</label>
    <input type="number" step="0.01" id="price" th:field="*{price}" >
  </div>

  <div>
    <label for="location">Miejsce:</label>
    <input type="text" id="location" th:field="*{location}" >
  </div>

  <div>
    <label for="description">Opis:</label>
    <textarea id="description" th:field="*{description}"></textarea>
  </div>

  <div>
    <label for="studentId">Uczeń:</label>
    <select id="studentId" th:field="*{studentId}" required>
      <option th:each="s : ${students}" th:value="${s.studentId}" th:text="${s.name + ' ' + s.surname}"></option>
    </select>
  </div>

  <div>
    <button type="submit">Dodaj lekcję</button>
  </div>
</form>
<a th:href="@{/lesson}" role="button">Wstecz</a>
</body>
</html>
