<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Dodaj ucznia</title>
</head>
<body>
<h1>Dodaj ucznia</h1>
<form th:action="@{/student/add}" th:object="${student}" method="post">
    <label for="name">Imię:</label>
    <input type="text" id="name" name="name" required>
    <br>
    <label for="surname">Nazwisko:</label>
    <input type="text" id="surname" name="surname" required>
    <br>
    <label for="studentClass">Klasa:</label>
    <select id="studentClass" name="studentClass">
        <option value="CLASS_1_PODSTAWOWKA">1 PODSTAWOWKA</option>
        <option value="CLASS_2_PODSTAWOWKA">2 PODSTAWOWKA</option>
        <option value="CLASS_3_PODSTAWOWKA">3 PODSTAWOWKA</option>
        <option value="CLASS_4_PODSTAWOWKA">4 PODSTAWOWKA</option>
        <option value="CLASS_5_PODSTAWOWKA">5 PODSTAWOWKA</option>
        <option value="CLASS_6_PODSTAWOWKA">6 PODSTAWOWKA</option>
        <option value="CLASS_7_PODSTAWOWKA">7 PODSTAWOWKA</option>
        <option value="CLASS_8_PODSTAWOWKA">8 PODSTAWOWKA</option>
        <option value="CLASS_1_LICEUM">1 LICEUM</option>
        <option value="CLASS_2_LICEUM">2 LICEUM</option>
        <option value="CLASS_3_LICEUM">3 LICEUM</option>
        <option value="CLASS_1_TECHNIKUM">1 TECHNIKUM</option>
        <option value="CLASS_2_TECHNIKUM">2 TECHNIKUM</option>
        <option value="CLASS_3_TECHNIKUM">3 TECHNIKUM</option>
        <option value="CLASS_4_TECHNIKUM">4 TECHNIKUM</option>
        <option value="CLASS_MATURALNA">KLASA MATURALNA</option>
    </select>
    <br>
    <label for="phone">Telefon:</label>
    <input type="text" id="phone" name="phone">
    <br>
    <label for="notes">Notatki:</label>
    <textarea id="notes" name="notes"></textarea>
    <br>
    <button type="submit">Dodaj ucznia</button>
</form>
</body>
</html>