<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Lista studentów</h1>
<table border="1">
    <thead>
    <tr>
        <th>Imię</th>
        <th>Nazwisko</th>
        <th>Edytuj</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="student : ${students}">
        <td th:text="${student.name}"></td>
        <td th:text="${student.surname}"></td>
        <td>
            <form th:action="@{/student/edit/{id}(id=${student.studentId})}" method="get">
                <button type="submit">Edytuj</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>
