<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Lekcje</title>
</head>
<body>
<h1>Odwołane lekcje</h1>

<form th:action="@{/lesson/list}" method="get">
  <label for="date">Filtruj wg daty:</label>
  <input type="date" id="date" name="date" th:value="${selectedDate}">
  <button type="submit">Szukaj</button>
  <a th:href="@{/lesson/list}">Wyczyść</a>
</form>

<table border="1">
  <tr>
    <th>Data</th>
    <th>Godzina rozpoczęcia</th>
    <th>Godzina zakończenia</th>
    <th>Cena</th>
    <th>Lokalizacja</th>
    <th>Opis</th>
    <th>Student</th>
    <th>Klasa</th>
    <th>Status lekcji</th>
    <th>Akcja</th>
  </tr>
  <tr th:each="lesson : ${lessons}">
    <td th:text="${lesson.date}"></td>
    <td th:text="${lesson.startLesson}"></td>
    <td th:text="${lesson.endLesson}"></td>
    <td th:text="${lesson.price}"></td>
    <td th:text="${lesson.location}"></td>
    <td th:text="${lesson.description}"></td>
    <td th:text="${lesson.student.name + ' ' + lesson.student.surname}"></td>
    <td th:text="${lesson.student.studentClass.label}"></td>
    <td th:text="${lesson.status.label}"></td>
    <td>
      <a th:href="@{/lesson/edit/{id}(id=${lesson.lessonId})}">Edytuj</a>
      <a th:href="@{/lesson/delete/{id}(id=${lesson.lessonId})}"
         onclick="return confirm('Na pewno chcesz usunąć tę lekcję?')">Usuń</a>
    </td>

  </tr>
</table>
<a th:href="@{/lesson}" role="button">Wstecz</a>
</body>
</html>
